@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font: inherit;
    color: inherit;

    margin: 0;
    padding: 0;
    border: none;
    outline: none;

    scroll-behavior: smooth;
}

:root {
    --font-size-larger: 1.5rem;
    --font-size-large: 1.25rem;
    --font-size-base: 1rem;
    --font-size-small: 0.75rem;

    --color-darker: #101110;
    --color-dark: #2b2c2b;
    --color-neutral: #8d918f;
    --color-light: #d3cfcc;
    --color-lighter: #fbfcfc;

    --color-extra: #f8ddac;

    --color-primary: #62a172;
    --color-secondary: #a8d6b3;
    --color-accent: #6dca84;
    --color-intense: #5ee670;

    --color-background: light-dark(var(--color-lighter), var(--color-dark));
    --color-foreground: light-dark(var(--color-darker), var(--color-lighter));

    --color-background-footer: var(--color-darker);
    --color-foreground-footer: var(--color-light);
    --color-foreground-dimmed-footer: var(--color-neutral);

    --color-hover: var(--color-secondary);
    --color-active: var(--color-accent);

    --border-width: 2px;
    --border: var(--border-width) solid var(--color-foreground);

    --radius: 1rem;
    --radius-large: 10rem;

    --color-scrollbar: var(--color-neutral);
    --color-scrollbar-hover: var(--color-light);
}

html {
    font-family: "Roboto", Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--color-foreground);
    color-scheme: light !important;
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
    }

    html:active {
        color-scheme: dark;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    html:active {
        color-scheme: light;
    }
}

body {
    min-height: 100dvh;
}

.root {
    & {
        display: grid;
        grid-template-rows: auto 1fr;
        height: 100dvh;
    }

    .header {
        & {
            display: grid;
            grid-template-columns: auto 1fr;
            border-bottom: var(--border);
            padding: .5rem max(1rem, calc((100dvw - 175ch) / 2));
            gap: 1rem;
        }

        .logo {
            & {
                position: relative;
                font-size: 3rem;
                font-weight: bold;
                background-image: linear-gradient(70deg, var(--color-accent), var(--color-intense));
                background-clip: text;
                color: transparent;
            }

            &::before {
                content: "";
                position: absolute;
                background-color: var(--color-secondary);
                height: .75rem;
                width: 100%;
                z-index: -1;
                bottom: .25rem;
                transition: height 200ms;
            }

            &:hover::before {
                height: 40%;
            }
        }

        .nav {
            & {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            .profile {
                & {
                    display: grid;
                    grid-template-columns: auto 2rem;
                    align-items: center;
                }

                &>:first-child::after {
                    content: "•";
                    padding: 1ch;
                }

                .profile-photo {
                    aspect-ratio: 1;
                    background-image: linear-gradient(var(--color-secondary), var(--color-accent));
                    border: var(--border);
                    border-radius: 100%;
                }
            }
        }
    }

    .main {
        & {
            display: grid;
            grid-template-columns: 300px 1fr;
            overflow: auto;
            padding: 2rem max(2rem, calc((100dvw - 175ch) / 2));
            gap: 4rem;
        }

        .aside {
            & {
                position: sticky;
                top: 0;
            }

            .tabs {
                & {
                    display: flex;
                    flex-direction: column;
                    border-radius: var(--radius);
                    background-color: var(--color-background);
                    border: var(--border);
                    padding: 1rem;
                    gap: .5rem;
                }

                .tab {
                    & {
                        display: grid;
                        grid-template-columns: 1.5rem auto;
                        border-radius: var(--radius-large);
                        align-items: center;
                        padding: .5rem 4rem .5rem 1rem;
                        transition: 100ms;
                        gap: 1rem;
                    }

                    .tab-icon {
                        border: 2px solid var(--color-dark);
                        aspect-ratio: 1;
                    }

                    &:nth-child(2n) .tab-icon {
                        border-radius: 100%;
                    }


                    &:hover {
                        background-color: var(--color-hover);
                    }
                }
            }
        }

        .panel {
            & {
                display: grid;
                grid-template-rows: 1fr auto;
                gap: 4rem;
            }

            .content {
                & {
                    display: grid;
                    grid-template-areas:
                        "a b c"
                        "d d c"
                        "d d e"
                        "f f f";
                    grid-template-columns: repeat(3, auto);
                    grid-template-rows: repeat(4, 150px);
                    gap: 2rem;
                }

                div {
                    & {
                        border: var(--border);
                        border-radius: var(--radius);
                    }

                    &:nth-child(1) {
                        background-color: var(--color-accent);
                        grid-area: a;
                    }

                    &:nth-child(2) {
                        background-color: var(--color-intense);
                        grid-area: b;
                    }

                    &:nth-child(3) {
                        background-color: var(--color-secondary);
                        grid-area: c;
                    }

                    &:nth-child(4) {
                        background-color: var(--color-primary);
                        grid-area: d;
                    }

                    &:nth-child(5) {
                        background-color: var(--color-accent);
                        grid-area: e;
                    }

                    &:nth-child(6) {
                        background-color: var(--color-secondary);
                        grid-area: f;
                    }
                }
            }

            .footer {
                & {
                    display: grid;
                    background-color: var(--color-background-footer);
                    color: var(--color-foreground-footer);
                    border-radius: var(--radius);
                    padding: 1rem 2rem;
                    gap: 1rem;
                }

                hr {
                    display: block;
                    content: "";
                    height: 1px;
                    width: stretch;
                    background-color: var(--color-neutral);
                }

                .info {
                    & {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 2rem;
                    }

                    .info-panel {
                        flex: 1 1 0;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                    }

                    .title {
                        font-size: var(--font-size-small);
                        color: var(--color-foreground-dimmed-footer);
                    }

                    .github {
                        & {
                            display: grid;
                            grid-template-columns: 2rem 1fr;
                            background-color: var(--color-dark);
                            border-radius: var(--radius);
                            text-decoration: none;
                            align-items: center;
                            transition: box-shadow 150ms;
                            gap: .25rem 1rem;
                            padding: 1rem;
                        }

                        &:hover {
                            box-shadow: 0 0 0 2px var(--color-extra);
                        }

                        &:active {
                            box-shadow: 0 0 0 3px var(--color-extra);
                        }

                        .badge {
                            display: block;
                            grid-row: span 2;
                            aspect-ratio: 1;
                            max-width: 100%;
                        }
                    }
                }

                .copyright {
                    & {
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: .25rem;
                    }

                    .license {
                        font-size: var(--font-size-small);
                        color: var(--color-foreground-dimmed-footer);
                    }
                }
            }
        }
    }

    @media (max-width: 950px) {
        .main {
            & {
                grid-template-columns: auto;
                grid-template-rows: auto 1fr;
            }

            .aside {
                & {
                    position: static;
                }

                .tabs {
                    & {
                        flex-direction: row;
                        flex-wrap: wrap;
                    }

                    .tab {
                        flex: 1 1 0;
                    }
                }
            }

            .panel {
                .content {
                    & {
                        grid-template-areas:
                            "a c"
                            "b c"
                            "d d"
                            "d d"
                            "f f"
                            "e .";
                        grid-template-columns: repeat(2, auto);
                        grid-template-rows: repeat(6, 150px);
                    }
                }

                .footer .info .repository {
                    flex: 1 1 100%;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-hover);
}